{% extends "base.html" %}
{% load static %}
{% block content %}
    <div class="flex justify-center items-center min-h-screen bg-gray-800">
        <form method="post" class="flex flex-wrap bg-gray-700 p-6 rounded-lg shadow-lg text-white w-full max-w-2xl">
            {% csrf_token %}
            <div class="w-full mb-4">
                {{ form.as_div }}
            </div>
            {% load buttons %}
            <div class="flex w-full justify-end gap-4">
                {% render_button "Guardar" "submit" color="blue" %}
                {% render_button "Limpiar" "reset" color="gray" %}
            </div>
        </form>
    </div>
{% endblock %}
