{% extends "base.html" %}
{% load static %}

{% block content %}

<figure>

    <img src="{% static 'favicon.svg' %}" alt="logo">
    <h1>AthenaGuard</h1>
    <figcaption>AthenaGuard es una pagina para ayudar a quienes estudian seguridad informatia o ya trabajan en esta area para lograr el automatizar los informes y facilitar el entender los procesos de los CTF, este proyecto es Open source, si quieres cambiar algo o piensas que hay una mejor forma de plantear los datos puedes sin problema mandar tu pull request y lo revisare con cuidado</figcaption>

</figure>





{% endblock %}
