{% extends "base.html" %}
{% load static %}
{% load buttons %}
{% block head %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script defer src="{% static 'js/datatable.js' %}"></script>

{% endblock %}
{% block content %}

<!-- Sección de Tabla -->
<section class="m-4">
    <h2 class="text-4xl font-bold text-green-700 mb-4">Lista de Vulnerabilidades</h2>
    <div class="mb-4">
        {% render_url_button "Agregar Target" url="addTarg" color="green" additional_classes="inline-block" %}
    </div>

    <div class="overflow-x-auto bg-gray-700 rounded-lg shadow-lg text-white p-4">
        <table id="example" class="min-w-full text-left text-sm text-gray-400">
            <thead class="bg-gray-700 text-xs uppercase font-medium text-gray-300">
                <tr>
                    {% for header in headers %}
                    <th class="px-6 py-3">{{ header }}</th>
                    {% endfor %}
                    <th class="px-6 py-3 text-center">Acciones</th>
                </tr>
            </thead>
            <tbody class="divide-y divide-gray-700">
                {% for row_data in values %}
                <tr class="hover:bg-gray-700">
                    {% for key, value in row_data.items %}
                    <td class="px-6 py-4">{{ value }}</td>
                    {% endfor %}
                    <td class="px-6 py-4 text-center">
                        {% render_url_button "Editar" url="editTarg" id=row_data.id color="indigo" %}
                        {% render_url_button "Eliminar" url="deleteTarg" id=row_data.id color="red" %}
                        {% render_url_button "Reporte" url="viewReport" target=row_data.id color="yellow" %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
            <tfoot class="bg-gray-700 text-xs uppercase font-medium text-gray-300">
                <tr>
                    {% for header in headers %}
                    <th class="px-6 py-3">{{ header }}</th>
                    {% endfor %}
                    <th class="px-6 py-3 text-center">Acciones</th>
                </tr>
            </tfoot>
        </table>
    </div>
</section>

{% endblock %}
