{% extends "base.html" %}
{% load static %}
{% load buttons %}
{% block content %}

<h1 class="text-4xl text-white font-bold mb-4">Reportes de {{ infoTarget.name }}</h1>

<!-- Información del Target -->
<section class="text-center text-white mb-6">
    <div>
        <p class="text-2xl font-bold">
            IP: <span class="text-green-500">{{ infoTarget.ip }}</span>
        </p>
        <p class="text-gray-500 whitespace-normal dark:text-gray-400">
            {{ infoTarget.descripcion }}
        </p>
        <p class="text-gray-500 whitespace-normal dark:text-gray-400">
            ID: <span class="font-bold">{{ infoTarget.id }}</span>
        </p>
    </div>
</section>

<!-- Vulnerabilidades Encontradas -->
<section id="vulnerabilityFound" class="mb-6">
    <h2 class="text-lg font-semibold text-white mb-4">Vulnerabilidades Encontradas:</h2>
    <ul class="max-w-md space-y-4 text-white list-disc list-inside dark:text-gray-400">
        {% for vuln in infoVuln %}
        <li>
            <p>
            <span class="font-bold">{{}} {{ vuln.vulnerabilidad.cve }} {{ vuln.vulnerabilidad }}:</span> {{ vuln.observacion }}
            </p>

<div class="flex space-x-4 mt-2">
    {% render_url_button "Editar" url="editRepor" id_report=vuln.id color="purple" %}
    {% render_url_button "Eliminar" url="deleteRepor" id_target=infoTarget.id id_report=vuln.id color="red" %}
</div>

        </li>
        {% empty %}
        <li class="text-gray-400">No se encontraron vulnerabilidades.</li>
        {% endfor %}
    </ul>
</section>

<!-- Formulario para Reportar Vulnerabilidad -->
<section class="p-4 bg-gray-800 rounded-lg shadow-lg">
    <h2 class="mb-4 text-lg font-semibold text-white">Reportar Vulnerabilidad</h2>
{% render_url_button "Agregar Vulnerabilidad" url="addVuln" color="green" additional_classes="mb-4 inline-block" %}
    <form method="post" class="space-y-4">
        {% csrf_token %}
        <div class="space-y-4">
            {{ form }}
        </div>

        <div class="flex space-x-4">
            {% render_button "Enviar" "submit" color="purple" %}
            {% render_button "Limpiar" "reset" color="gray" %}
        </div>
    </form>
</section>

{% endblock %}
