{% extends "base.html" %}
{% load static %}
{% load buttons %}
{% block head %}

    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css">

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>
    <script defer src="{% static 'js/datatable.js' %}"></script>

{% endblock %}

{% block content %}

<h1 class="text-4xl text-white font-bold mb-6">Servicios</h1>

<div class="mb-4">
  {% render_url_button "Agregar Target" url="addTarg" color="green" additional_classes="inline-block" %}
</div>
<div class="overflow-x-auto bg-gray-700 rounded-lg shadow-lg p-4 text-white">
    <table id="serviciosTable" class="min-w-full text-left text-sm text-gray-400">
        <thead class="bg-gray-700 text-xs uppercase font-medium text-gray-300">
            <tr>
                <th scope="col" class="px-6 py-3">Nombre</th>
                <th scope="col" class="px-6 py-3">Descripción</th>
                <th scope="col" class="px-6 py-3 text-center">Acciones</th>
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-700">
            {% for s in servicio %}
            <tr class="hover:bg-gray-700">
                <td class="px-6 py-4 font-medium text-gray-200">{{ s.nombre }}</td>
                <td class="px-6 py-4">{{ s.descripcion }}</td>
                <td class="px-6 py-4 ">
                    {% render_url_button "Editar" url="editServicio" servicio_id=s.id color="indigo"%}
                    {% render_url_button "Eliminar" url="deleteServicio" servicio_id=s.id color="red" %}
                </td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="px-6 py-4 text-center text-gray-500">No se encontraron servicios.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% endblock %}
